.contact-section {
  overflow: hidden;
}

.contact-list {
  margin-top: -7.5px;
  margin-bottom: -7.5px;
}
.contact-list li {
  display: flex;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  font-size: 0.94rem;
}
.contact-list-s1 {
  display: flex;
  justify-content: center;
}
.contact-list-s1 li {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-icon {
  height: 38px;
  width: 38px;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  margin-right: 15px;
  flex-shrink: 0;
}
.tc-light .contact-icon,
.tc-light a:not(.btn) .contact-icon {
  color: #1b203e;
  box-shadow: none;
}
.bg-secondary .contact-icon {
  color: #23c99d;
}
.contact-list-s1 .contact-icon {
  margin-right: 0;
  color: #fff;
  box-shadow: 0px 2px 15px 0px rgba(18, 34, 114, 0.5);
  background: linear-gradient(-45deg, #1b203e 0%, #1940b0 100%);
}
.tc-light .contact-list-s1 .contact-icon {
  color: #fff;
}
.contact-text {
  padding-top: 7px;
}
.contact-list-s1 .contact-text {
  width: 100%;
}
.contact-social {
  margin-top: auto;
  padding-top: 20px;
}
.contact-social h6 {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1199px) {
  .contact-info {
    display: block;
  }
  .contact-info li {
    float: left;
    width: 33%;
    text-align: center;
    margin: 0 0 20px;
  }
  .contact-info li span {
    display: block;
  }
  .contact-info li .fa {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .contact-info {
    padding-bottom: 15px;
  }
  .contact-info li {
    float: none;
    width: 100%;
  }
}
.form-message .input-field {
  margin-bottom: 20px;
  position: relative;
}
.form-message .input-field .btn {
  margin-top: 10px;
}
.form-message .input-field label.input-title {
  position: absolute;
  width: 100%;
  top: 18px;
  left: 0;
  color: #8284a5;
  z-index: 1;
  transition: all 0.5s ease;
}
.form-message .input-field .input-line {
  position: relative;
  line-height: 46px;
  z-index: 2;
  background: transparent;
  border: none;
  width: 100%;
  text-align: center;
  color: #fff;
  border: 1px solid white;
  margin-top: 8px;
  outline: none;
}
.form-message .input-field .input-line.error {
  border-bottom-color: #d2636d;
}
.form-message .input-field .txtarea {
  height: 105px;
  resize: none;
  outline: none;
  line-height: 21px;
  padding-top: 14px;
}
.form-message .input-field .txtarea + .input-title {
  top: 75px;
}
.form-message .input-field .txtarea + label + .input-title {
  top: 75px;
}
.form-message .input-field.input-focused .input-title {
  top: -7px;
  transform: scale(0.8);
}
.form-message .input-field.input-focused .txtarea + label + .input-title {
  top: -7px;
  transform: scale(0.8);
}
.form-message.text-left .input-field .input-line {
  text-align: left;
}
.form-message.text-left label.input-title {
  transform-origin: left;
}
.io-azure .form-message .input-field label.input-title {
  color: #7ab9ff;
}
.io-azure .section-pro .form-message .input-field .input-line,
.io-azure .section-pro-alt .form-message .input-field .input-line {
  color: #313c56;
}

.theme-light .form-message .input-field label.input-title,
.io-dark-light .section-light .form-message .input-field label.input-title,
.io-dark-light .section-light-alt .form-message .input-field label.input-title {
  color: #8284a5;
}
.theme-light .form-message .input-field .input-line,
.io-dark-light .section-light .form-message .input-field .input-line,
.io-dark-light .section-light-alt .form-message .input-field .input-line {
  color: #3c3c3c;
}

@media (min-width: 576px) {
  .partner-logo-s2 {
    margin-bottom: 30px;
    min-width: 16.6%;
  }
}
@media (min-width: 992px) {
  .partner-list-lg {
    margin-bottom: -20px;
  }
  .partner-list-lg .partner-logo {
    padding: 20px 25px;
  }
  .partner-list-lg .partner-logo img {
    max-height: 50px;
  }
  [class*="col-"] > .partner-logo {
    padding: 15px 0;
  }
}
/** 04.12 Contact */

.contact-list {
  margin-top: -7.5px;
  margin-bottom: -7.5px;
}
.contact-list li {
  display: flex;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  font-size: 0.94rem;
}
.contact-list-s1 {
  display: flex;
  justify-content: center;
}
.contact-list-s1 li {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-icon {
  height: 38px;
  width: 38px;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  color: #fff;

  border-radius: 50%;
  margin-right: 15px;
  flex-shrink: 0;
}
.tc-light .contact-icon,
.tc-light a:not(.btn) .contact-icon {
  color: #1b203e;
  box-shadow: none;
}
.bg-secondary .contact-icon {
  color: #23c99d;
}
.contact-list-s1 .contact-icon {
  margin-right: 0;
  color: #fff;
  box-shadow: 0px 2px 15px 0px rgba(18, 34, 114, 0.5);
  background: linear-gradient(-45deg, #1b203e 0%, #1940b0 100%);
}
.tc-light .contact-list-s1 .contact-icon {
  color: #1b203e;
  background: #fff;
}
.contact-text {
  padding-top: 7px;
}
.contact-text a {
  color: white !important;
}
.contact-list-s1 .contact-text {
  width: 100%;
}
.contact-social {
  margin-top: auto;
  padding-top: 20px;
}
.contact-social h6 {
  margin-bottom: 1rem;
}

.subscribe-wrap {
  padding: 20px;
}

@media (min-width: 576px) {
  .contact-wrap {
    padding: 50px;
  }
  .subscribe-wrap {
    padding: 65px;
  }
}
@media (min-width: 768px) {
  .contact-list-s1 li {
    width: 33.33%;
    flex-wrap: wrap;
  }
  .contact-list-s1 .contact-text {
    width: auto;
  }
  .contact-list-s1 .contact-icon {
    margin-right: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-wrap,
  .subscribe-wrap {
    padding: 35px;
  }
}
.social-links {
  display: flex;
  margin: -3px;
}
.social-links li {
  padding: 3px;
  list-style: none;
}
.social-links li a {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #fff;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  color: #415076;
}
.social-links li a:hover {
  color: #16a3fe;
  background: #fff;
}
.tc-light .social-links li a {
  color: #fff;
}
.tc-light .social-links li a:hover {
  color: #16a3fe;
}
.bg-secondary .social-links li a:hover {
  color: #23c99d !important;
}
