@media only screen and (min-width: 786px) {
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }
  .btn:focus,
  .btn.focus {
    box-shadow: none !important;
  }
  .theme-btn {
    padding: 0.6rem 1.5rem;
  }
  .theme-btn-ghost {
    background: none;
    color: #47b0df;
    border: 2px solid #47b0df;
  }
  .theme-btn-on-bg {
    color: #fff !important;
    border-color: #fff;
  }
  .theme-btn-on-bg:hover {
    background: #fff;
    color: #47b0df !important;
  }
  .form-control {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }
  .more-arrow {
    position: relative;
    top: 1px;
  }
  .page-title {
    font-size: 2.5rem;
  }
  .error {
    color: #ec575b;
  }
  .text-light {
    color: #7791ab !important;
  }
  .border-radius-0 {
    border-radius: 0;
  }
  .font-style-normal {
    font-style: normal !important;
  }
  .link-on-bg,
  a.link-on-bg {
    color: rgba(0, 0, 0, 0.5);
  }
  .link-on-bg:hover,
  a.link-on-bg:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .presudo-hidden:before {
    display: none !important;
  }
  .presudo-hidden:after {
    display: none !important;
  }
  .theme-bg-primary {
    background-color: #eff2f5;
  }
  .theme-bg-secondary {
    background-color: #47b0df;
  }
  .single-col-max-width {
    max-width: 860px;
  }

  .footer {
    font-size: 0.875rem;
  }
  .footer .col-heading {
    font-size: 1.25rem;
  }
  .footer li {
    margin-bottom: 0.5rem;
  }
  .footer a {
    color: #526b84;
  }
  .footer .social-list li {
    font-size: 1.25rem;
  }
  .footer .download-area h3 {
    font-size: 1.5rem;
  }
  .footer .download-area .section-intro {
    font-size: 1rem;
  }
  .footer .download-area .app-stores img {
    height: 40px;
  }
  .footer .copyright {
    font-size: 0.875rem;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .footer .download-area .app-stores img.ios {
      width: 120px;
    }
    .footer .download-area .app-stores img .android {
      width: 135px;
    }
  }
  .site-headline {
    font-size: 1rem;
  }
  .site-tagline {
    font-size: 0.75rem;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hero-section .app-stores img.ios {
      width: 135px;
    }
    .hero-section .app-stores img.android {
      width: 152.25px;
    }
  }
  .section-intro {
    font-size: 1.25rem;
  }

  .features-section {
    position: relative;
    overflow: hidden;
  }
  .features-section:before {
    position: absolute;
    content: "";
    display: block;
    left: -60%;
    top: -150px;
    height: 75%;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    width: 180%;
    background: #eff2f5;
  }
  .features-section .section-heading {
    z-index: 10;
    position: relative;
  }
  .flipster-carousel {
    display: none;
  }
  .flipster-carousel.flipster--active {
    display: block;
  }
  .flip-item {
    width: 420px;
  }
  .flip-item .item-inner {
    padding: 2rem;
    border: 1px solid #efefef;
    background: #fff;
  }
  .flip-item .source-profile {
    width: 80px;
    height: 80px;
  }
  .flip-item .source-info {
    font-size: 0.875rem;
  }
  .flipster--coverflow .flipster__item__content {
    box-reflect: unset;
    -webkit-box-reflect: unset;
  }
  .flipster__button {
    width: 40px;
    height: 40px;
    margin-top: -3rem;
    background: #212b35;
    border-radius: 50%;
  }
  .flipster__button svg {
    width: 0.875rem;
    stroke: #fff;
  }
  .flipster__button svg:hover {
    stroke: #fff;
  }
  @media (max-width: 991.98px) {
    .hero-section .figure-holder {
      min-height: 200px;
      background-position: 240px 0px;
      background-size: 700px auto;
    }
  }
  @media (max-width: 767.98px) {
    .hero-section {
      text-align: center;
    }
    .hero-section .figure-holder {
      padding-bottom: 400px;
      background-position: center 200px;
      background-size: 992px auto;
    }
  }
  @media (max-width: 575.98px) {
    .site-headline,
    .page-title {
      font-size: 2rem;
    }
    .site-tagline {
      font-size: 0.775rem;
    }
    .hero-section {
      text-align: center;
    }
    .hero-section .figure-holder {
      padding-bottom: 400px;
      background-position: center 200px;
      background-size: 992px auto;
    }
    .logos-row {
      width: 90% !important;
    }
    .features-section:before {
      display: none;
    }
    .flip-item {
      width: 100%;
      text-align: center;
    }
    .flipster__button {
      background: none;
      width: none;
    }
    .flipster__button svg {
      stroke: #212b35;
    }
    .flipster__button svg:hover {
      stroke: #212b35;
    }
    .source {
      text-align: center;
    }
    .source .source-info {
      width: 100%;
    }
    .flipster__button--prev {
      left: -2rem;
    }
    .flipster__button--next {
      right: -2rem;
    }
  }
}
