body {
  margin: 0;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: left;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
  font-weight: 600;
}
.container-fluid {
  z-index: 2;
}
.bc-blue {
  background-color: #1b203e;
}

.site-header {
}

.banner-zinnia {
  background: #10122d !important;
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner-zinnia:after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  left: 0;
  bottom: 0;
  z-index: 2;
  background-size: contain;
}

.site-headline {
  font-size: 26px;
}

.mt-sm-5 {
  margin-top: 2em;
}
.io-zinnia .navbar-toggler .ti {
  color: #10122d;
}

.io-zinnia .active .navbar-toggler {
  background: #10122d;
}

.io-zinnia .btn {
  font-family: "Muli", sans-serif;
  color: #fff;
  border-radius: 23px;
}

.io-zinnia .btn:before {
  border-radius: 23px;
}

.io-zinnia .btn-outline-s3 {
  color: #fff;
  padding-right: 34px;
  padding-left: 34px;
  border: 2px solid #dad8d6;
  background-image: none !important;
}

.io-zinnia .btn-gradient-button {
  text-align: center;
  transition: 0.5s;
  color: #10122d !important;
  box-shadow: 0 0 20px #eee;
  width: 200px;
  box-shadow: 0 1px 3px #dad8d6, 0 1px 2px #fff389;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
}

.io-zinnia .section-bg {
  background: none !important;
}

.gradient-button:hover {
  box-shadow: 0 10px 20px #fff389, 0 6px 6px #ffa42a;
  margin: 8px 10px 12px;
}
.gradient-button-1 {
  color: #10122d !important;
  background-image: linear-gradient(
    to right,
    #ffa42a 0%,
    #fff389 100%
  ) !important;
}
.gradient-button-1:hover {
  background-position: right center;
}

@media only screen and (max-width: 767px) {
  .io-zinnia .banner {
    min-height: auto;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .io-zinnia .site-header .is-transparent + .banner .banner-content {
    padding-bottom: 60px;
  }
}

.io-zinnia .section-bg .section-title-s7,
.io-zinnia .section-bg .section-title-md,
.io-zinnia .section-bg-alt .section-title-s7,
.io-zinnia .section-bg-alt .section-title-md {
  color: #10122d;
}

/* How it Workss */
.services-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-image: url(../images/Logomark.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.service-item {
  /* padding-: 50px; */
  padding: 10px 20px 50px 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #10122d;
  color: white !important;
  border-radius: 15px;
  margin-bottom: 10px;
}

.service-icon {
  position: relative;
  width: 80px;
  /* transform: rotate(-45deg); */
  margin-bottom: 25px;
}
.service-icon:after {
  position: absolute;
  content: "";
  height: 62px;
  width: 62px;
  top: 50%;
  left: 50%;
  border: 2px solid none !important;
  border-radius: 8px;
  transform: translate(-50%, -50%);
}
.service-item .service-icon h1 {
  box-sizing: border-box;
}

.io-zinnia .section-bg .section-item h5,
.service-item p {
  /* color: white !important; */
}

/* Sell Bitcoin Section */
.sell-bitcoin {
  color: #1b203e !important;
}

.sell-bitcoin h3 {
  color: #1b203e !important;
}

/* Testimonial Section */
.testimonial-section {
  padding: 40px 0;
}

.inner-width {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.testimonial-section h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
}

.border {
  width: 100px;
  height: 3px;
  background: #333;
  margin: 40px auto;
}

.testimonial {
  background: #1b203e;
  padding: 40px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.test-info {
  display: flex;
  height: 60px;
  align-items: center;
}

.test-pic {
  width: 50px !important;
  border-radius: 50%;
  margin-right: 15px;
}

.test-name {
  font-size: 12px;
}

.test-name span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #3498db;
}

.testimonial p {
  font-size: 12px;
  line-height: 22px;
  margin-top: 20px;
}

.section-title-s7 {
  color: #10122d;
  padding-bottom: 8px;
  font-weight: 600;
}

/* Contact Section */
.contact-info li .fa {
  color: #10122d;
  background: linear-gradient(-45deg, #ffa42a 0%, #fff389 100%) !important;
}

/* FAQ SECTION */
.io-zinnia .tab-custom-s3 .nav-tabs .nav-link:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  border-radius: 6px;
  background: #10122d;
  z-index: -1;
  opacity: 0;
}

.io-zinnia .accordion-s2 .card {
  background: #10122d;
  color: #fff;
  border: 2px solid rgba(34, 59, 85, 0.15);
  margin-bottom: 10px;
}

.io-zinnia .accordion-s2 .card.active {
  background: #10122d;
  color: #fff !important;
}

.io-zinnia .accordion-s2 .card-header a {
  color: #fff;
}
.io-zinnia .accordion-s2 .card-header a:hover {
  color: #fff;
}

.io-zinnia .accordion-s2 .collapsed .plus-minus .ti {
  color: #00ec98;
}
.io-zinnia .accordion-s2 .plus-minus .ti {
  color: #00ec98;
}

.io-zinnia .section-bg p,
.io-zinnia .section-bg-alt p {
  color: #fff;
}
